src/assets/SIFEIService.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MApeados/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MApeados/" name="SIFEIService">
<types>
<xsd:schema>
<xsd:import namespace="http://MApeados/" schemaLocation="http://devcfdi.sifei.com.mx:8080/SIFEI/SIFEI?xsd=1" />
</xsd:schema>
</types>
<message name="CambiaPassword">
<part name="parameters" element="tns:CambiaPassword" />
</message>
<message name="CambiaPasswordResponse">
<part name="parameters" element="tns:CambiaPasswordResponse" />
</message>
<message name="SifeiException">
<part name="fault" element="tns:SifeiException" />
</message>
<message name="cancelaCFDI">
<part name="parameters" element="tns:cancelaCFDI" />
</message>
<message name="cancelaCFDIResponse">
<part name="parameters" element="tns:cancelaCFDIResponse" />
</message>
<message name="cancelaCFDISectorPrimario">
<part name="parameters" element="tns:cancelaCFDISectorPrimario" />
</message>
<message name="cancelaCFDISectorPrimarioResponse">
<part name="parameters" element="tns:cancelaCFDISectorPrimarioResponse" />
</message>
<message name="cancelaCFDISignature">
<part name="parameters" element="tns:cancelaCFDISignature" />
</message>
<message name="cancelaCFDISignatureResponse">
<part name="parameters" element="tns:cancelaCFDISignatureResponse" />
</message>
<message name="getXML">
<part name="parameters" element="tns:getXML" />
</message>
<message name="getXMLResponse">
<part name="parameters" element="tns:getXMLResponse" />
</message>
<message name="getCFDI">
<part name="parameters" element="tns:getCFDI" />
</message>
<message name="getCFDIResponse">
<part name="parameters" element="tns:getCFDIResponse" />
</message>
<message name="getTimbreCFDI">
<part name="parameters" element="tns:getTimbreCFDI" />
</message>
<message name="getTimbreCFDIResponse">
<part name="parameters" element="tns:getTimbreCFDIResponse" />
</message>
<portType name="SIFEI">
<operation name="CambiaPassword">
<input wsam:Action="http://MApeados/SIFEI/CambiaPasswordRequest" message="tns:CambiaPassword" />
<output wsam:Action="http://MApeados/SIFEI/CambiaPasswordResponse" message="tns:CambiaPasswordResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://MApeados/SIFEI/CambiaPassword/Fault/SifeiException" />
</operation>
<operation name="cancelaCFDI">
<input wsam:Action="http://MApeados/SIFEI/cancelaCFDIRequest" message="tns:cancelaCFDI" />
<output wsam:Action="http://MApeados/SIFEI/cancelaCFDIResponse" message="tns:cancelaCFDIResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://MApeados/SIFEI/cancelaCFDI/Fault/SifeiException" />
</operation>
<operation name="cancelaCFDISectorPrimario">
<input wsam:Action="http://MApeados/SIFEI/cancelaCFDISectorPrimarioRequest" message="tns:cancelaCFDISectorPrimario" />
<output wsam:Action="http://MApeados/SIFEI/cancelaCFDISectorPrimarioResponse" message="tns:cancelaCFDISectorPrimarioResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://MApeados/SIFEI/cancelaCFDISectorPrimario/Fault/SifeiException" />
</operation>
<operation name="cancelaCFDISignature">
<input wsam:Action="http://MApeados/SIFEI/cancelaCFDISignatureRequest" message="tns:cancelaCFDISignature" />
<output wsam:Action="http://MApeados/SIFEI/cancelaCFDISignatureResponse" message="tns:cancelaCFDISignatureResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://MApeados/SIFEI/cancelaCFDISignature/Fault/SifeiException" />
</operation>
<operation name="getXML">
<input wsam:Action="http://MApeados/SIFEI/getXMLRequest" message="tns:getXML" />
<output wsam:Action="http://MApeados/SIFEI/getXMLResponse" message="tns:getXMLResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://MApeados/SIFEI/getXML/Fault/SifeiException" />
</operation>
<operation name="getCFDI">
<input wsam:Action="http://MApeados/SIFEI/getCFDIRequest" message="tns:getCFDI" />
<output wsam:Action="http://MApeados/SIFEI/getCFDIResponse" message="tns:getCFDIResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://MApeados/SIFEI/getCFDI/Fault/SifeiException" />
</operation>
<operation name="getTimbreCFDI">
<input wsam:Action="http://MApeados/SIFEI/getTimbreCFDIRequest" message="tns:getTimbreCFDI" />
<output wsam:Action="http://MApeados/SIFEI/getTimbreCFDIResponse" message="tns:getTimbreCFDIResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://MApeados/SIFEI/getTimbreCFDI/Fault/SifeiException" />
</operation>
</portType>
<binding name="SIFEIPortBinding" type="tns:SIFEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CambiaPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="cancelaCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="cancelaCFDISectorPrimario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="cancelaCFDISignature">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="getXML">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="getCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="getTimbreCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
</binding>
<service name="SIFEIService">
<port name="SIFEIPort" binding="tns:SIFEIPortBinding">
<soap:address location="http://devcfdi.sifei.com.mx:8080/SIFEI/SIFEI" />
</port>
</service>
</definitions>